{% extends "base.html" %}
{% load static %}

{% block title %}Reset password{% endblock %}

{% block head-js %}
      var uidb36 = '{{ uidb36 }}';
      var token = '{{ token }}';
      var controllers = [];

      function startMoneypit() {
        function loginHandler() {
          location.href = '/user/login';
        }

        function passwordHandler() {
          var form = Ext.getCmp('reset-password-form').getForm();
          var window = Ext.getCmp('reset-password');
          if (form.isValid()) {
            window.body.mask();
          }
          form.submit({
            params: {
              uidb36: uidb36,
              token: token
            },
            success: function() {
              location.href = '/';
            },
            failure: function() {
              window.body.unmask();
            }
          });
        }

        var window = Ext.create('Ext.Window', {
          id       : 'reset-password',
          layout   : 'border',
          closable : false,
          draggable: false,
          resizable: false,
          width    : 320,
          height   : 130,
          plain    : true,
          border   : false,
          items    : [{
              region : 'north',
              html   : '<span style="margin-top: 5px; padding: 5px; font-size: 1.2em; font-family: \'Droid Sans\'">Set new password, sir/madam</span>',
              border : false,
              height : 25,
            }, {
              id           : 'reset-password-form',
              url          : '/api/user/resetpassword',
              xtype        : 'form',
              region       : 'center',
              border       : false,
              buttonAlign  : 'right',

              items        : [{
                  id        : 'reset-password1',
                  xtype     : 'textfield',
                  fieldLabel: 'new password',
                  inputType : 'password',
                  name      : 'new_password1',
                  allowBlank: false,
                  labelSeparator: '',
                  labelAlign: 'right',
                }, {
                  xtype     : 'textfield',
                  fieldLabel: 'repeat',
                  inputType : 'password',
                  name      : 'new_password2',
                  allowBlank: false,
                  labelSeparator: '',
                  labelAlign: 'right',
                  validator : function(value) {
                    var password1 = this.previousSibling('[name=new_password1]');
                    return (value === password1.getValue()) ? true : 'Passwords do not match.'
                  },
                  listeners : {
                    specialkey: function(field, e) {
                      if (e.getKey() == e.ENTER) {
                        passwordHandler();
                      }
                    }
                  }
              }],

              buttons      : [{
                  text   : 'Save',
                  margin : '8 2 0 0',
	              handler: passwordHandler
                }, {
                  text   : 'Sign-in',
                  margin : '8 6 0 0',
                  handler: loginHandler
              }],
          }]
        });

        Ext.getCmp('reset-password1').focus(false, 800);
        window.show();
      }{% endblock %}

{% block body %}{% csrf_token %}{% endblock %}
