{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - fruitcoins mobile</title>{% block css %}{% endblock %}{% block common %}
    <script type="text/javascript" src="{% get_static_prefix %}touch/sencha-touch.js"></script>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}touch/sencha-touch.css">
    <script type="text/javascript">
      var staticPath = '{% get_static_prefix %}';{% block head-js %}{% endblock %}
    </script>{% endblock %}{% block extra-js %}{% endblock %}{% if not debug %}<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ analytics }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>{% endif %}
  </head>

  <body>
    <noscript><span id="noscript">fruitcoins.com requires JavaScript, please use a compatible browser</span></noscript>
  </body>
</html>
